<div class="sidebar">
  <button id='currencyButton' (click)="selectCurrency('chf')">CHF</button>
  <button id='currencyButton' (click)="selectCurrency('czk')">CZK</button>
  <button id='currencyButton' (click)="selectCurrency('eur')">EUR</button>
  <button id='currencyButton' (click)="selectCurrency('gbp')">GBP</button>
  <button id='currencyButton' (click)="selectCurrency('huf')">HUF</button>
  <button id='currencyButton' (click)="selectCurrency('nok')">NOK</button>
  <button id='currencyButton' (click)="selectCurrency('sek')">SEK</button>
  <button id='currencyButton' (click)="selectCurrency('thb')">THB</button>
  <button id='currencyButton' (click)="selectCurrency('uah')">UAH</button>
  <button id='currencyButton' (click)="selectCurrency('usd')">USD</button>
</div>
